<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Witaj w aplikacji I-Legal</h1>
    <div>
        Aplikacja składa się z 2 powiązanych ze sobą modułów:
    </div>
    <ul>
        <li>Aktów prawnych</li>
        <li>Orzeczeń sądów i innych organów</li>
    </ul>
    <div>
        Każdy z modułów posiada wyszukiwarkę, która za pośrednictwem publicznych API przeszukuje zbiory odpowiednio:
    </div>
    <ul>
        <li><a href="http://isap.sejm.gov.pl/api/isap/">Internetowego System Aktów Prawnych (ISAP)</a> oraz</li>
        <li><a href="https://www.saos.org.pl/help/index.php/dokumentacja-api">Analizy Orzeczeń Sądowych (SAOS)</a></li>
    </ul>
    <div>
        Wyniki wyszukiwań (tj. akty prawne i orzeczenia) mogą być zapisywane w bazie danych. Ponadto w panelu szczegółów 
        (po kliknięciu w akt lub orzeczenie) można automatycznie przenieść się do uzupełnionego formularza wyszukiwań 
        celem znalezienia powiązanych elementów. 
    </div>
    <div>
        W przypadku zapisanych aktów prawnych codziennie automatycznie sprawdzana ich aktualność (można to również 
        zrobić ręcznie w zakładce zapisane akty prawne). 
    </div>
    <div>
        <p>Autor: Sebastian Czech
    </div>
</body>
</html>