
h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}




.middle-content {
    display: flex;
}

.act-grid {
    flex: 2;
}



.act-details {
    flex: 1;
}

.judgment-grid {
    flex: 3;
}

.judgment-details {
    flex: 1;
}