
h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}




.saved-acts .middle-content {
    display: flex;
}

.saved-acts .act-grid {
    flex: 2;
}



.saved-acts .act-details {
    flex: 1;
}